#idmaindiv{
    display: flex;
    justify-content: left;
}
#idleftside {
    border: solid;
    width :50%;    
}
#idrightside {
    border: solid;
    width :50%;  
}
#idh1title{
    text-align :center;
    font:red;
}
#idinputbox{
    align-items: center;
}
.card {
    background:blueviolet;
    text-align: center;
    border:dashed;
    height: 50%;
    width: 100%;
}
#idCardCan{
    border: dotted;
    width:50%;
    height: 200px;

}
#newCard{
    border: solid;
    border: blue;
    width: 50%;
    height: 50%;
}
