#idmaindiv{
    display: flex;
    justify-content: left;
}
#idleftside {
    border: solid;
    width :50%;
    height: auto;    
}
#idrightside {
    border: solid;
    width :50%;  
    height: auto;
}
#idh1title{
    text-align :center;
    font:red;
}
#idinputbox{
    align-items: center;
}
.card {
    float: center;
    padding: 15px;
    margin: 10px;
    background:cyan;
    border:dashed;
    height: 100%;
    width: 95%;
}
#idCardCan{
    background: rgb(20, 126, 212);
    width: 100%;
    height: auto;

}
