.idHelloWorld{
    color: blue;
    text-align: center;
}
#maindiv{
    display:inline-block;
    width: 100%;
    height:auto;
    border: dashed;
}
#idLeftSide{
    float: left;
    width:70%;
    height: 100%;
    border: dashed; 
}
#idRigthSide{
    float: right;
    width: 25%;
    height:100%;
    border: dashed;

}
.idTotalBalance{
    float:right;
}
/* .inputs{ */
    /* visibility: hidden; */
 /* } */

#idAccountName{
    font:bold;
    
}